.env
venv/
chroma.sqlite3
c1d4ea94-1820-46e8-834a-68453c426f5b
# Ignore specific files and directories
c1d4ea94-1820-46e8-834a-68453c426f5b/
*.bin

SdaProjVenv/
__pycache__/
chromadb/
chat_logs/
chroma.log
pdf_store/

pyc
*.pyo
*.pyd

*.sqlite3
*.log